---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Not Found" description="404 | Not Found">
    <div class="w-fit mx-auto mt-[15dvh] flex flex-col items-center gap-[1.5dvh]">
        <p class="text-xl lg:text-2xl">404 | Not Found</p>
        <a class="text-lg lg:text-xl bg-slate-200 px-[15px] py-[5px] rounded-lg outline-1 outline-slate-300" href="/">Go back</a>
    </div>
</Layout>